@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
@tailwind base;


html,body{
    font-family: 'JetBrains Mono', monospace;
}

@tailwind components;
@tailwind utilities